<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./out.css">
    <title>Cool | Weird</title>
</head>
<body>
    <div id="vue"></div>
    <div class="unique">"This is coming from an erb file"</div>
    # <% @people_list.each do |val| %>
    #     <%= val %>
    # <% end %>
    <script src="./script.js"></script>
</body>
</html>